.bodyAlertSalon{
    height: 100vh;
    width: 100%;
}
.sectionShowAlert{
    display: flex;
    height: 90%;
    width: 100%;
    overflow: scroll;
}
.descriptionStateAlert{
    height:10%;
    width:100%;
}
.cardAlertSalon{
    height: 25%;
    width:25% ;
}