@use "../../vars/colors" as color;

.bodyAlertSalon{
    height: 100vh;
    width: 100%;
    .descriptionStateAlertSalon{
        display: flex;
        align-items: center;
        font-size: 2rem;
        height:10%;
        width:100%;
        margin-left: 1.2%;
    }
    .sectionShowAlert{
        display: flex;
        height: 90%;
        width: 100%;
        flex-wrap: wrap;
    }
}


.backgroundCardAlertSalon{
    display: flex;
    height: 33.3%;
    width: 25%;
    justify-content: center;
    align-items: center;
    .cardAlertSalon{
        background-color: map-get(color.$background, "conteiners" );
        height: 90%;
        width: 90%;
        border-radius: 20px;
        padding: 5%;
        color: white;

        .headerOrderSalon{
            height: 10%;
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: center;
            align-items: center;
            span{
                color: map-get(color.$buttons,  "color" )
            }
        }
        .detailsAlertSalon{
            height:80% ;
            width: 100%;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .TotalAlertSalon{
            height: 10%;
            width: 100%;
            span{
                color: map-get(color.$buttons,  "color" )
            }
        }

    }
}
