@use "../../vars/colors" as color;

.bodyAlertSalon{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    .cardOrderCompletado{
        display: flex;
        height: 100%;
        width: 60%;
        flex-direction: column;
        .descriptionStateAlertSalon{
            display: flex;
            align-items: center;
            font-size: 2rem;
            height:10%;
            width:100%;
            margin-left: 2%;
        }
        .contentCardAlertSalon{
            width: 100%;
            height: 90%;
            display: flex;
            flex-wrap: wrap;
            overflow-y: scroll;
            .backgroundCardAlertSalon{
                display: flex;
                height: 33.3%;
                width: 50%;
                justify-content: center;
                align-items: center;
                .cardAlertSalon{
                    background-color: map-get(color.$background, "conteiners" );
                    height: 90%;
                    width: 90%;
                    border-radius: 20px;
                    padding: 5%;
                    color: white;
                    .detailsAlertCocina{
                        overflow-y: scroll;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height:70% ;
                        width: 100%;
                    }
                    .footerOrderSalon{
                        height: 30%;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 50% 50%;
                        justify-items: center;
                        align-items: center;
                        span{
                            color: map-get(color.$buttons,  "color" )
                        }
                    }
                    .orderAlertSalon{
                        height:80% ;
                        width: 100%;
                        overflow-y: scroll;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .TotalAlertSalon{
                        height: 10%;
                        width: 100%;
                        span{
                            color: map-get(color.$buttons,  "color" )
                        }
                    }

                }
            }

        }

    }
}



