@use '../../vars/colors' as color;

.gridBtnChef{
    padding: 0px 15px;
    height: 12%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: 35px;
}
.cardsChefGeneral{
    column-gap: 35px;
    row-gap: 35px;
    padding: 0px 14px;
    height: 84.5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
}
.SelectChef{
    height: 55%;
    border-radius: 14px;
    border: solid 0px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    color: map-get(color.$text, "button");
    background-color: map-get(color.$buttons, "color");
    height:55%;
}
.cardChef {
    width: 46.5%;
    min-width: 46.5%;
    // min-height: 30.1%;
    height: 29.6%;
    padding: 2.2% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: map-get(color.$background, "conteiners");
    color: map-get(color.$text, "button");
    border-radius: 25px;
    font-family: 'Barlow', sans-serif;

    .headerCardChef {
        display: flex;
        width: 90%;
        height: 20%;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
        margin: 5px;
        .descriptionCampo{
            color: map-get(color.$text, "description");
        }
        p{
            width:100%;
        }
        .fa-clock-eight{
            height: 50px;
            width: 50px;
        }
    }
    .itemsCardChef{
        display: flex;
        height: 80%;
        width: 100%;
        text-align: start;
        overflow-y: scroll;
        padding: 15px;
        flex-direction: column;
        justify-content: center;
    }
}

.itemsCardChef::-webkit-scrollbar{
    height: 90%;
    width: 7px;
    background: map-get(color.$background, "conteiners");
}
.itemsCardChef::-webkit-scrollbar-thumb{
    background: map-get(color.$buttons, "color");
    border-radius: 8px;
}