@use '../../vars/colors' as color;

.ContainerOrderCard{
    background: map-get(color.$background, "conteiners");    height: 94%;
    width: 40%;
    margin-left: 1%;
    border-radius: 20px;
}
.flexOrderDescription{
    height: 78%;
    display:flex;
    flex-direction: column;
}
.headerDescriptionOrder{
    padding: 4%;
    // height: 22%;
    width: 100%;
    p{
        font-family: "Barlow", sans-serif;
        font-size: 1.5rem;
        color: #C4C4C4;
        display: grid;
        height: 50%;
        align-items: center;
    }
}
.buttonState{
    width: 90%;
    height: 25%;
    border-radius: 20px;
    opacity: 0.8;
    zoom: 1;
    font-size: 1.2rem;
}
.buttonStatePendiente{
    background: map-get(color.$buttons ,"pendiente");
    color:map-get(color.$text, "textPendiente" );
}
.buttonStateProceso{
    background: map-get(color.$buttons ,"proceso" );
    color:map-get(color.$text, "textProceso" );
}
.gridTitleOrder{
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    color: #C4C4C4;
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns:15% 25% 60%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    .unidad{
        grid-column: 2/3;
    }
    .description{
        grid-column: 3/4;
    }
}
.DetailsOrderCard{
    height:24%;
    width: 100%;
    display: grid;
    grid-template-columns:15% 25% 60%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: "Barlow", sans-serif;
    input{
        height: 50%;
        width: 50%;
    }
    .num{color: white;
        font-size: 1.5rem;
    }
    div{
        color: white;
        font-size: 1.05rem;
        padding: 0% 4%;
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
    }
}

.buttonState{
    width: 90%;
    height: 25%;
    border-radius: 20px;
    opacity: 0.8;
    zoom: 1;
    font-size: 1.2rem;
}
.buttonStatePendiente{
    background: map-get(color.$buttons ,"pendiente");
    color:map-get(color.$text, "textPendiente" );
}
.buttonStateProceso{
    background: map-get(color.$buttons ,"proceso" );
    color:map-get(color.$text, "textProceso" );
}


.cardsChefGeneral::-webkit-scrollbar{
    width: 7px;
    background: map-get(color.$background, "conteiners");
}
.cardsChefGeneral::-webkit-scrollbar-thumb{
    background: map-get(color.$buttons, "color");
    border-radius: 8px;
}