@use '../../vars/colors' as color;

.ContainerOrderCard{
    background: map-get(color.$background, "conteiners");    height: 94%;
    width: 40%;
    margin-left: 1%;
    border-radius: 20px;
}
.flexOrderDescription{
    height: 78%;
    display:flex;
    flex-direction: column;
}
.headerDescriptionOrder{
    padding: 4% 4% 0% 4%;
    height: 22%;
    width: 100%;
    p{
        font-family: "Barlow", sans-serif;
        font-size: 1.5rem;
        color: #C4C4C4;
        display: grid;
        height: 30.5%;
        align-items: center;
    }
}
.buttonState{
    width: 100%;
    height: 36%;
    border-radius: 16px;
    opacity: 0.8;
    zoom: 1;
    font-size: 1.2rem;
}

.buttonStatePendiente{
    background: map-get(color.$buttons ,"pendiente");
    color:map-get(color.$text, "textPendiente" );
}
.buttonStateProceso{
    background: map-get(color.$buttons ,"proceso" );
    color:map-get(color.$text, "textProceso" );
}
.gridTitleOrder{
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    color: #C4C4C4;
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns:15% 25% 60%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    .unidad{
        grid-column: 2/3;
    }
    .description{
        grid-column: 3/4;
    }
}
.DetailsOrderCard{
    height:24%;
    width: 100%;
    display: grid;
    grid-template-columns:15% 25% 60%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: "Barlow", sans-serif;
    input{
        height: 50%;
        width: 50%;
    }
    .num{color: white;
        font-size: 1.5rem;
    }
    div{
        color: white;
        font-size: 1.05rem;
        padding: 0% 4%;
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
    }
    input[type="checkbox"]:checked {
        box-shadow: 0 0 0 3px #EA7C69;
      }

}


.buttonStatePendiente{
    background: map-get(color.$buttons ,"pendiente");
    color:map-get(color.$text, "textPendiente" );
}
.buttonStateProceso{
    background: map-get(color.$buttons ,"proceso" );
    color:map-get(color.$text, "textProceso" );
}
.buttonStateCompletado{
    background: map-get(color.$buttons ,"completado" );
    color:map-get(color.$text, "textCompletado" );
}

.cardsChefGeneral::-webkit-scrollbar{
    width: 7px;
    background: map-get(color.$background, "conteiners");
}
.cardsChefGeneral::-webkit-scrollbar-thumb{
    background: map-get(color.$buttons, "color");
    border-radius: 8px;
}
.GeneralDeilsOrderCard {
    height: 78%;
    overflow-y: scroll;
}

.entregarPedido {
    height: 78%;
    width: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #EA7C69; 
    font-size: 1.2rem;
}
.contentEntregarPedido {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
/* .wrapper{
    position: relative;

    input[type="checkbox"]:not(old) {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    input[type="checkbox"]:not(old) + label::-moz-selection,
    input[type="checkbox"]:not(old) + label::selection {
    color: inherit;
    background-color: transparent;
}
input[type="checkbox"]:not(old) + label {
    cursor: pointer;
 }
 
 input[type="checkbox"]:not(old) + label:before {
    content: '';
    width: 50px;
    height: 50px;
    border: 1px double black;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
    border-radius: 100%;
 }
 
 input[type="checkbox"]:not(old):checked + label:before {
    Estilos del input seleccionado 
    box-shadow: inset 0 0 1px 2px white;
    background: deepskyblue;
 }
} */