@use '../vars/colors' as color;

.headerMenu{
    display: flex;
    width: 100%;
    margin-top: 2%;

    .titleMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        h2{
            color: map-get(color.$text , "title");
            font-family: "Barlow", sans-serif;
            font-weight: normal;
            font-size: 2rem;
            line-height: 5rem;
        }
    }
    .selectMenu{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 70%;
        column-gap: 16px;
        margin-right: 3.5%;
        button{
            font-size: 1rem;
            padding: 0.8rem 2rem;
            width: 150px;
            background-color: map-get(color.$buttons, "color");
            border: none;
            color: map-get(color.$text, "button");
            border-radius: 8px;
        }
        button:hover{
            opacity: 1;
            box-shadow:
                        0 0 25px map-get(color.$buttons, "color");
        }
    }
}
