@use '../vars/colors' as color;

.headerMenu{
    display: flex;
    width: 100%;
    margin-top: 2%;

    .titleMenu{
        display: flex;
        align-items: center;
        width: 70%;
        margin-left: 4%;
        h2{
            color: map-get(color.$text , "title");
            font-family: "Barlow", sans-serif;
            font-weight: normal;
            font-size: 2rem;
            line-height: 5rem;
        }
    }
    .selectMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-right: 4%;
        row-gap: 5px;
        select{
            font-size: 1rem;
            padding: 0.8rem 2rem;
            background-color: map-get(color.$buttons, "color");
            border: none;
            color: map-get(color.$text, "button");
            border-radius: 8px;
        }
        select:hover{
            color: map-get(color.$text, "title");
            option{
                background-color: map-get(color.$buttons, "select");
            }
        }
    }
}


