 @use '../vars/colors' as color;

.headerMenu{
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .titleMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        h2{
            color: map-get(color.$text , "title");
            font-family: "Barlow", sans-serif;
            font-weight: normal;
            font-size: 2rem;
            line-height: 5rem;
        }
    }
    .selectMenu{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 95%;
        button{
            margin: 0.8%;
            font-size: 1rem;
            padding: 0.8rem 2rem;
            width: 33.3%;
            background-color: map-get(color.$buttons, "color");
            border: none;
            color: map-get(color.$text, "button");
            border-radius: 8px;
            cursor: pointer;
        }
        button:hover{
            opacity: 1;
            box-shadow:
                        0 0 25px map-get(color.$buttons, "color");
        }
    }
} 
