@use '../vars/colors' as color;

.headerSalon{
    display: flex;
    width: 10%;
    height: 98%;
    align-items: center;
    justify-content: center;
}
.navSalon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 98%;
    width: 80%;
    max-width: 80px;
    min-width: 20px;
    border: solid 1px #1F1D2B;
    border-radius: 20px;
    background: #1F1D2B;
    cursor: pointer;
    a{
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        i{
            font-size:2.5rem ;
            color: map-get(color.$background, "general");
        }
        i:hover{
            color: map-get(color.$buttons, "color");
        }
    }
    img{
        height: 40%;
        width: 60%;
    }

}



/* .navSalon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 98%;
    width: 80%;
    max-width: 80px;
    min-width: 20px;
    border: solid 1px #1F1D2B;
    border-radius: 20px;
    background: #1F1D2B;

    .logoNav{
        display: flex;
        justify-content: center;
        width: 90%;
        height: 30%;
        padding: 5% 3%;
        align-items: center;

        img{
            height: 5rem;
            width: 100%;
        }
    }
    .optionsNav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 70%;
        row-gap: 15%;
        i{
            font-size: 3.2rem;
            color: map-get(color.$background, "general");
        }
        i:hover{
            color: map-get(color.$buttons, "color");
        }
        a {
        height: 33.3%;
        display: flex;
        align-items: start;
        text-decoration: none;
        }
    }
} */

// .navSalon {
//     display: flex;
//     height: 98%;
//     width: 5rem;
//     border: solid 1px #1F1D2B;
//     border-radius: 20px;
//     background: #1F1D2B;
//     .logoNav{
//         display: flex;
//         justify-content: center;
//         height: 20%;
//         img{
//             width: 100%;
//         }
//     }
//     .optionsNav{
//         display: flex;
//         justify-content: center;
//         height: 80%;
// }
//         i{
//             margin: 3rem;
//             font-size: 1rem;
//             color: map-get(color.$background, "general");
//         }
//         i:hover{
//             color: map-get(color.$buttons, "color");

//         }
// }



