@use '../vars/colors' as color;

nav{
    p{
        color:red;
    }
}

.NavSalon {
    border: solid 1px #1F1D2B;
    border-radius: 20px;
    background: #1F1D2B;
    margin: 10px;
    height: 98%;
    width: 9%;
}
