$background :(
   "general" :#ffff ,
   "conteiners":#1F1D2B,
   "modal":#666666,
   "border":#969494,
);
$text:(
    "title":#1F1D2B,
    "color":#666666,
    "button":#ffff,
);

$buttons:(
    "color":#EA7C69,
    "color1":#703C32,
    "color2":#B05E4F,
    "color3":#F0806C,
    "color4":#F0806C,
    "color5":#ff9d8c,
    "icon":#1F1D2B,
    "icon2":#666666,
    "icon3":#969494,

)
