$background-general:#ffff;
$background-conteiners: #1F1D2B;
$background-modal:#666666;


$text-title:#1F1D2B;
$text-color:#666666;
$text-title2:red;

$buttons-color:#EA7C69;
$buttons-color1:#703C32;
$buttons-color2:#B05E4F;
$buttons-color3:#F0806C;
$buttons-color4:#F0806C;
$buttons-color5:#FC8672;

body{
    background: $background-general;
    color: $text-title2;
    font-family: 'Barlow', sans-serif;

}
