@use "../../vars/colors" as color;
.bodyAlertCocina{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    .allOrderGenerados{
            display: flex;
            height: 100%;
            width: 60%;
            flex-wrap: wrap;
            font-family: "Barlow", sans-serif;
            .descriptionStateAlertCocina{
                display: flex;
                align-items: center;
                font-size: 2rem;
                height: 10%;
                width: 100%;
                margin-left: 2%;
                font-family: "Barlow", sans-serif;
                p{
                    font-family: "Barlow", sans-serif; 
                    font-size: 2.5rem;
                }
            }
            .contentCardAlertCocina{
                width: 100%;
                height: 90%;
                display: flex;
                flex-wrap: wrap;
                overflow-y: scroll;
                font-family: "Barlow", sans-serif;
                .backgroundCardAlertCocina{
                    display: flex;
                    height: 33.3%;
                    width: 50%;
                    justify-content: center;
                    align-items: center;
                    .cardAlertCocina{
                        background-color: map-get(color.$background, "conteiners" );
                        height: 90%;
                        width: 90%;
                        border-radius: 20px;
                        padding: 5%;
                        color: white;
                        cursor: pointer;
                        .detailsAlertCocina{
                            overflow-y: scroll;
                            height:70% ;
                            width: 100%;
                            font-family: "Bitter", serif;
                            font-weight: bolder;
                            p{
                                margin: 10px 0px;
                            }
                        }
                        .footerCardChef{
                            height: 30%;
                            width: 100%;
                            display: grid;
                            grid-template-columns: 50% 50%;
                            align-items: center;
                            span{
                                font-weight: bolder;
                                color: map-get(color.$buttons,  "color" )
                            }
                        }

                    }
                }

            }
    }
}

