@use '../../vars/colors' as color;

.bodyHistory{
    display: flex;
    width: 90%;
    flex-direction: column;
    height: 100vh;
}
.btnsHistoryCocina{
    height:15% ;
    width:100% ;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    margin-right: 2%;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            height: 55%;
            width: 88%;
            background: map-get(color.$buttons, "color" );
            border-radius: 20px;
            color: white;
            font-size: 1.3rem;
            border: solid 0px;
        }
    }
}
.allHistoryOrderCocina{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    .backgroundCardHistoryCocina{
        height: 33.3%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        .cardHistory{
            background-color: map-get(color.$background, "conteiners" );
            height: 90%;
            width: 90%;
            border-radius: 20px;
            padding: 5%;
            color: white;
        }
        .cardHistoryCocina{
            background-color: map-get(color.$background, "conteiners" );
            height: 90%;
            width: 90%;
            border-radius: 20px;
            padding: 5%;
            color: white;
        }
        .headerOrderHistoryCocina{
            height: 20%;
            width: 100%;
            font-family: "Barlow", sans-serif;
            font-size: 1.02rem;
            span{
                color: map-get(color.$buttons,  "color" );
                margin-right: 4%;
                font-weight: bold;
            }
        }
        .detailsHistoryOrderCocina{
            height: 60%;
            width: 100%;
            overflow-y: scroll;
            font-family: "Bitter", serif;
            padding: 5% 0% 5% 0%;
            font-weight: bold;
            font-size: 0.9rem;
        }
        .totalTime{
            height: 10%;
            width: 100%;
            font-family: "Barlow", sans-serif;
            font-size: 1.02rem;
            display: grid;
            display: grid;
            align-items: center;
            grid-template-columns: 50% 50%;
            span{
                color: map-get(color.$buttons,  "color" );
                font-weight: bold;
                margin-right: 4%;
            }
        }
    }

}