@use '../vars/colors' as color;

.contentCocina{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: #f0f2f559;
    .vacio{
        background-image: url(../../img/Chef.jpg);
        height: 100%;
        width: 40%;
    }
}

.navCocina {
    display: flex;
    flex-direction: column;
    width: 10.5%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.bodyChef{
    display: flex;
    width: 88%;
    flex-direction: row;
    align-items: center;
    .vacioOrderCard{
        background-image: url(../../img/Chef.jpg);
        height: 100%;
        width: 40%;
    }
}

.bodyhistory{
    display: flex;
    width: 88%;
    flex-direction: column;
    align-items: center;
}
//cartas del chef
.MenuCardsChef{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}
