@use '../vars/colors' as color;

.contentCocina{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.navCocina {
    display: flex;
    flex-direction: column;
    width: 10.5%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.bodyChef{
    display: flex;
    width: 88%;
    flex-direction: row;
    align-items: center;
}
//cartas del chef
.MenuCardsChef{
    height: 100%;
    width: 60%;
}
.gridBtnChef{
    padding: 0px 15px;
    height: 12%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: 35px;
}
.cardsChefGeneral{
    column-gap: 35px;
    row-gap: 35px;
    padding: 0px 14px;
    height: 84.5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
 /*    display: grid; */
/*     grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(3,1fr); */
}
.SelectChef{
    height: 55%;
    border-radius: 14px;
    border: solid 0px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    color: white;
    background-color: map-get(color.$buttons, "color");
    height:55%;
}
.cardChef {
    // min-height: 30.1%;
    height: 170px;
    min-width: 47%;
    padding: 2.2% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: map-get(color.$background, "conteiners");
    border-radius: 25px;
    .buttonState{
        width: 90%;
        height: 25%;
        border-radius: 20px;
        opacity: 0.8;
        zoom: 1;
        font-size: 1.2rem;
    }
    .buttonStatePendiente{
        background: map-get(color.$buttons ,"pendiente" );        color:map-get(color.$text, "textPendiente" );

    }
    .buttonStateProceso{
        background: map-get(color.$buttons ,"proceso" );
        color:map-get(color.$text, "textProceso" );
    }

    .textCard {
        display: flex;
        padding: 10px 0px;
        width: 90%;
        height: 75%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }
    p {
        color: white;
        font-family: 'Barlow', sans-serif;
    }
}
//Detalle cartas chef

.ContainerOrderCard{
    background: map-get(color.$background, "conteiners");    height: 94%;
    width: 40%;
    margin-left: 1%;
    border-radius: 20px;
}
.flexOrderDescription{
    height: 78%;
    display:flex;
    flex-direction: column;
}
.headerDescriptionOrder{
    padding: 4%;
    height: 22%;
    width: 100%;
    button{
        font-size: 2rem;
        background: map-get(color.$buttons , "proceso" );
        color: map-get(color.$text , "textProceso" );
        border-radius: 20px;;
        height: 50%;
        width: 100%;
    }
    p{
        font-family: "Barlow", sans-serif;
        font-size: 1.5rem;
        color: #C4C4C4;
        display: grid;
        height: 50%;
        align-items: center;
    }
}
.gridTitleOrder{
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    color: #C4C4C4;
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns:15% 25% 60%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    .unidad{
        grid-column: 2/3;
    }
    .description{
        grid-column: 3/4;
    }
}
.DetalleOrderCard{
    height:24%;
    width: 100%;
    display: grid;
    grid-template-columns:15% 25% 60%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: "Barlow", sans-serif;
    input{
        height: 50%;
        width: 50%;
    }
    .num{color: white;
        font-size: 1.5rem;
    }
    div{
        color: white;
        font-size: 1.05rem;
        padding: 0% 4%;
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;

    }
}

.cardsChefGeneral::-webkit-scrollbar{
    width: 7px;
    background: map-get(color.$background, "conteiners");
}
.cardsChefGeneral::-webkit-scrollbar-thumb{
    background: map-get(color.$buttons, "color");
    border-radius: 8px;
}