@use '../vars/colors' as color;

.ContentLogin{
    opacity: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-direction: column;
    background:url(../../img/quickly-background.jpg);
    background-size: cover;
    img{
        margin: 20px;
    }
}
.SectionBtnLogin{
    width: 60%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    
}
.BoxButton{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BtnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: #EA7C69;
    opacity: 0.8;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    color: #ffff;
    cursor: pointer;
}
.BtnLogin:hover{
    opacity: 1;
    box-shadow:0 0 20px map-get(color.$buttons, "color"),
}
