@forward '../../style/components/order';

.salonGeneral{
    height: 100vh;
    width: 100%;
    max-width: 10000px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}
.bodySalon{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    width: 90%;
}
.menu{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
}
.formOrder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 44.5%;
    height: 100%;
    font-family: "Barlow", sans-serif;
    hr{
        width: 90%;
    }
}
