@forward '../../style/components/order';

.salonGeneral{
    height: 100vh;
    width: 100%;
    max-width: 10000px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}
.bodySalon{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 98%;

}
.menu{
    height: 90%;
    width: 50%;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}
.formOrder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 95%;
    font-family: "Barlow", sans-serif;

}
