
.ContentLivingRoom {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    background-image:url(../../img/quickly-background.jpg) ;
}
.Menu {
    background: wheat;
    height: 100vh;
    width: 45%;
    margin: 10px 10px;
}
.Order{
    background: pink;
    height: 100%;
    margin: 10px;
    width: 45%;
}